extends layout

block content
    div
        each note in notes
            .u2-row
                .u2-source
                    a(href="#{note.url}", target="_blank")=note.title
                .u2-username
                    a(href="mailto:#{note.username}@ultimatesoftware.com")=note.username
                .u2-date=note.timestamp
                .u2-content
                    !{note.content}
                .u2-comments=note.comments